:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --secundary-text: #ffffff;
  --bold-text: font-weight: 700;
  --Medium-text: font-weight: 500;
  --color-hover-focus: #2196f3;
}
body {
  font-family: "roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: var(--color-hover-focus);
}
.link:focus {
 color: var(--color-hover-focus); 
}
.header {
  background-color: var(--secundary-text);
}
/* logo */
.logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.accent {
  color: var(--color-hover-focus);
} /* href header */
.header-href-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header-href-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.hiden-title {
  display: none;
}
.index-btn {
  background-color: var(--color-hover-focus);
  font-weight: var(--bold-text);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--secundary-text);
}
.index-h1-button {
  background-color: #2f303a;
}
.index-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--secundary-text);
}
.portf-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
color: var(--main-title-color);
}
.btn:hover {
  background-color: var(--color-hover-focus);
  color: var(--secundary-text);
}
.btn:focus {
  background-color: var(--color-hover-focus);
  color: var(--secundary-text);
}
.list-items {
font-weight: var(--bold-text);
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-title-color);
}
.text-item {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(main-text-color);
}
.title {
font-weight: bold;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--main-title-color);
}
.titles {
font-weight: var(--Medium-text);
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--main-title-color);
}
.gallery {
font-weight: var(--bold-text);
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-title-color);
}
.p-gallery {
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--main-text-color);
}
/* footer */
.footer {
  background-color: #2f303a;
}
.footer-item-contact {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.map {
  color: var(--secundary-text);
}
.logo-footer {
  color: var(--secundary-text);
}

